[submodule "libs/ximea_camera"]
	path = libs/ximea_camera
	url = git@github.com:elhananby/ximea_camera.git
[submodule "libs/lens_driver"]
	path = libs/lens_driver
	url = https://github.com/elhananby/lens_driver
