[submodule "libs/ximea_camera"]
	path = libs/ximea_camera
	url = git@github.com:elhananby/ximea_camera.git
[submodule "libs/lens_driver"]
	path = libs/lens_driver
	url = https://github.com/elhananby/lens_driver
[submodule "libs/lens_controller"]
	path = libs/lens_controller
	url = https://github.com/elhananby/lens_controller
[submodule "libs/braid_event_stream"]
	path = libs/braid_event_stream
	url = https://github.com/elhananby/braid_event_stream
