# Braid tracking system configuration
braid:
  url: "http://127.0.0.1:8397/"
  
# Experiment setup
experiment:
  exp_base_path: "/home/buchsbaum/mnt/DATA/Experiments"
  video_base_path: "/home/buchsbaum/mnt/DATA/Videos"

# Trigger parameters
trigger:
  zone_type: "radius"  # can be "box" or "radius"
  box:
    x: [-0.05, 0.05]  # [min, max] in m
    y: [-0.05, 0.05]
    z: [0.15, 0.25]
  radius:
    center: [0, 0]  # x, y coordinates of arena center in mm
    distance: 0.05  # distance from center in m
  min_trajectory_time: 1.0  # seconds
  min_trigger_interval: 10.0  # seconds

# Optogenetic light parameters
optogenetic_light:
  enabled: false
  duration: 300  # milliseconds
  intensity: 255 # abs. PWM value
  frequency: 0  # Hz
  sham_trial_percentage: 20  # %

# Hardware settings
hardware:
  arduino:
    port: "/dev/optotrigger"
    baudrate: 9600
  backlight:
    port: "/dev/powersupply"
    voltage: 23.5
    baudrate: 9600
  lensdriver:
    port: "/dev/optotune_ld"

# High-speed camera settings
high_speed_camera:
  enabled: false
  type: "ximea"
  pre_trigger_record_time: 0.5  # seconds
  post_trigger_record_time: 1.5  # seconds
  framerate: 500  # fps
  exposure_time: 2000  # microseconds

# Visual stimuli configuration
visual_stimuli:
  enbaled: true
  refresh_rate: 60  # Hz
  stimuli:
    - type: static
      enabled: true

    - type: looming
      enabled: true
      start_radius: 5 # pixels
      end_radius: 64 # pixels
      duration: 300 # milliseconds
      position_type: closed-loop
      fixed_position: [400, 300]

    - type: grating
      enabled: false
      bar_width: 20  # pixels
      frequency: 2  # Hz
      direction: right  # can be 'left' or 'right'

# ZeroMQ communication settings
zmq:
  port: 5556

# Logging configuration
logging:
  trigger_data_file: "trigger_data.csv"
  log_level: INFO